@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.hamburger {
  width: 30px;
  height: 24px;
  padding: 6px;
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: #A19FA6;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}

.bar {
  width: 19px;
  height: 2px;
  padding: 0px;
  margin: 2px;
  display: block;
  background-color: #3B3B3B;
  text-indent: -9999px;
}

.hamburger:hover .nav-list {
  display: block; 
}

.hamburger:hover span:nth-of-type(1) { transform: translate(0, 3px) rotate(-45deg); }
.hamburger:hover .bar2 { display: none; }
.hamburger:hover span:nth-of-type(3) { transform: translate(0, -3px) rotate(45deg); }

.logo,
.upper { text-transform: uppercase; }

header .capital {
  text-transform: capitalize; 
  color: #fff;
  background-color: #D7242E;
}

header .wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.logo-div {
  width: 61%;
  display: flex;
  color: #A1A1A1;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  line-height: 20px;
}

h1 .dark { 
  color: #000;
  font-weight: bold;
 }

.nav-list,
.search { display: none; }

header { margin-bottom: 40px; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*Banner section start*/
.blue-card1 {
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background: #6FB4E0;
  justify-content: center;
}

h2 {
  color: #FCFDF5;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.blue-card2 {
  padding: 30px 10%;
  margin-bottom: 40px;
  background: #5EB2DE;
  color: #ADE3F3;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
/*Banner section end*/

/*World section start*/
.world-content { 
  padding: 20px 5%;
  margin-bottom: 20px;
  background: #5FACD6;
 }

 h3 {
  margin-bottom: 15px;
  color: #E6F4F5;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.world-content > p:nth-of-type(1) {
  color: #B9EDFF;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.read-btn,
.book-btn,
.contact-btn {
  padding: 8px 5%;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  font-weight: 600;
}

.read-btn { background: #fff; }
.book-btn { background: #FEE404; }

.contact-btn { 
  background: #7A7A7A; 
  color: #F7F7F7;
}

.world-btn-div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.location-icon::before {
  content: '\f041';
  font-family: FontAwesome;
  text-indent: 0;
}

.location-icon,
.calander-icon { text-indent: -9999px; }

.location-icon::before { content: '\f041'; }
.calander-icon::before { content: '\f274'; }

.location-icon::before,
.calander-icon::before {
  float: left;
  color: #000;
  font-family: FontAwesome;
  text-indent: 0;
}

.world-info-div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;
}

.world-info-div a {
  border: 1px solid #7B818B;
  display: flex;
  align-items: center;
  flex-basis: 20%;
  justify-content: center;
}

.calander-icon { height: 25px; }

.world-info-div p { 
  border: 1px solid #7B818B;
  display: flex;
  align-items: center;
  flex-basis: 70%;
  font-size: 12px;
  justify-content: center;
  text-transform: capitalize;
}

.world-section .wrapper { margin-bottom: 40px; }
/*world section end*/

/*Featured section start*/
h4 { 
  margin-bottom: 40px;
  color: #A3A3A3;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  position: relative;
}

h4::after {
  width: 50px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  background-color: #60ABE2;
  content: '';
  transform: translate(-50%, 50%);
}

.timeline-section { 
  width: 90%;
  margin: 0 auto 20px;
  position: relative;
 }

.timeline-section li {
  width: 90%;
  padding: 12px 5%;
  margin-bottom: 10px;
  position: relative;
  border: 1px solid #ECECEC;
}

.timeline-section::before {
  width: 2px;
  height: 620px;
  position: absolute;
  left: -6%;
  content: '';
  background: #E2E2E2;
}

.timeline-section::after {
  width: 4px;
  height: 620px;
  position: absolute;
  top: 0px;
  right: -6%;
  content: '';
  background: #FBFBFB;
}

.timeline-section li:nth-of-type(1)::before { background-color: #96B1A8; }
.timeline-section li:nth-of-type(2)::before { background-color: #ABBB5B; }
.timeline-section li:nth-of-type(3)::before { background-color: #F97B8B; }
.timeline-section li:nth-of-type(4)::before { background-color: #71F1C5; }
.timeline-section li:nth-of-type(5)::before { background-color: #82E2C1; }
.timeline-section li:nth-of-type(6)::before { background-color: #C0C17B; }

.timeline-section li::before {
    width: 10px;
    height: 10px;
    content: '';
    top: 50%;
    transform: translate(-50%, -50%);
    left: -6%;
    position: absolute;
    border-radius: 50%;
}

.timeline-section li:nth-of-type(1)::after {
  width: 3px;
  height: 70px;
  background-color: #D7D7D7;
  content: '';
  bottom: 0px;
  position: absolute;
  right: -6.3%;
  z-index: 1;
}

h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
}

.timeline-section li p {
  font-size: 14px;
  line-height: 22px;
}

.timeline-section li p::first-letter { text-transform: uppercase; }

.saving-card-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.saving-card { 
  padding: 20px 10%;
  background: #DDE4E5; 
}

h5 {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.saving-card-header p {
  margin-bottom: 20px;
  color: #818C8C;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.saving-card > p {
  margin-bottom: 10px;
  font-size: 13px;
  text-align: justify;
  line-height: 25px;
}

.saving-btn-div p {
  padding: 6px 5% 3px 18%;
  margin-bottom: 15px;
  border: 1px solid #B5B973;
  text-transform: capitalize;
  font-size: 13px;
  position: relative;
}

.saving-btn-div p::before {
  padding: 6px 4%;
  position: absolute;
  top: 0;
  left: -1px;
  background: #BAB67A;
  color: #fff;
  content: '\f24a';
  font-family: FontAwesome;
}

.featured-articles { margin-bottom: 50px; }
/*Featured section end*/

/*Infographic section start*/
.see-list {
  display: flex;
  flex-direction: column;
}

.see-list li {
  padding: 50px 10px 20px 10px;
  margin-bottom: 10px;
  background: url(https://via.placeholder.com/150X150) center center / cover;
}

.see-list li div { 
  padding: 15px 5%;
  background-color: #EAEBF7;
  text-align: center;
 }

 .see-list li div p:nth-of-type(1) {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.see-list li div p:nth-of-type(2) {
  margin-bottom: 10px;
  font-size: 14px;
  color: #959A88;
}

.right-arrow {
  display: inline-block;
  position: relative;
  color: #BDBDBD;
  text-indent: -9999px;
}

.right-arrow::before {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  float: left;
  align-items: center;
  background: #fff;
  content: '\f105';
  font-family: FontAwesome;
  justify-content: center;
  text-indent: 0;
}

.progress-bar {
  border: 1px solid #D1DDE1;
  background: #D1DDE1;
}

.blue-bar {
  width: 80px;
  height: 10px;
  margin-left: 20px;
  background: #5BAED7;
  text-indent: -9999px;
}

.infographic .wrapper { margin-bottom: 40px; }
/*Infographic section end*/

/*Subscribe section start*/
.subscribe { 
  padding: 40px 10%;
  background: #5EB2DE; 
}

.subscribe p {
  margin-bottom: 10px;
  color: #8FCBF5;
  font-size: 15px;
}

.subscribe p::first-letter { text-transform: uppercase; }
.subscribe p .capital { text-transform: capitalize; }

.email-div { 
  width: 100%;
  position: relative; 
}

.email-div input { 
  width: 100%; 
  padding: 10px 5%;
  border: none;
  background: #86CCF5;
}

.email-div::after {
  content: '\f1d9';
  font-family: FontAwesome;
  position: absolute;
  top: 1px;
  right: -21px;
  width: 35px;
  height: 34px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Subscribe section end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 20px 5%;
  background: #2E2E2E;
  color: #7B7B7B;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

footer ul {
  width: 75%;
  margin: 0 auto 10px;
}

footer ul li { width: 30px; }

.icon { 
  position: relative;
  text-indent: -9999px;
 }

.icon::before {
  position: absolute;
  left: 0;
  font-family: FontAwesome;
  text-indent: 0;
  float: left;
  color: #fff;
}

.facebook::before { content: '\f09a'; }
.twitter::before { content: '\f099'; }
.google::before { content: '\f0d5'; }
.linkedin::before { content: '\f0e1 '; }
footer { padding: 30px 5%; }


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 480px starts here*/
@media only screen and (min-width: 480px) {
.logo-div span:nth-of-type(2) { width: 65%; }
.logo-div { align-items: initial; }
h2 { width: 50%; }
.blue-card2 { padding: 40px 15%; }

.world-content > p:nth-of-type(1) {
  width: 80%;
  margin: 0 auto 30px;
}
.timeline-section::before,
.timeline-section::after { height: 490px; }
.timeline-section li { width: 90%; }
.timeline-section li:nth-of-type(1)::after { right: -5.5%; }
.saving-card { padding: 30px 10%; }

.saving-card > p,
.saving-btn-div p,
.see-list li div p:nth-of-type(1),
.see-list li div p:nth-of-type(2),
.right-arrow { margin-bottom: 20px; }

.see-list li div { padding: 15px 12%; }
.right-arrow::before { padding: 10px; }

.see-list li div {
  width: 60%;
  margin: 0 auto;
}

.see-list li { margin-bottom: 20px; }
.email-div::after { right: -33px; }
}  

/*media query for 540px starts here*/
@media only screen and (min-width: 540px) {
.email-div::after { right: -36px; }
}  

/*media query for 768px starts here*/
@media only screen and (min-width: 768px) {
h2 { width: 45%; }

.banner-section .wrapper {
  display: flex;
  position: relative;
}

.blue-card1 { flex-basis: 50%; }

.blue-card1 h2 {
  position: relative;
  right: 42px;
  font-size: 30px;
}

.blue-card2 {
  padding: 40px 7%;
  position: absolute;
  left: 35%;
  top: 35px;
  flex-basis: 55%;
  line-height: 30px;
}

.banner-section,
header .wrapper { margin-bottom: 10%; }

h5 { margin-bottom: 20px; }

.saving-btn-div p {
  width: 40%;
  margin-bottom: 30px;
 }

 .see-list {
  width: 70%;
  margin: 0 auto;
 }

 .see-list li div { width: 40%; }
 .see-list li div p:nth-of-type(2) { 
  font-size: 13px;
  line-height: 25px;
 }

 .progress-bar {
  width: 70%;
  margin: 0 auto;
 }

 .email-div::after { right: -52px; }
 .timeline-section { width: 70%; }
}

/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
header .wrapper { 
  width: 95%;
  align-items: center;
 }  

.logo-div {
  flex-basis: 20%;
  align-items: center;
  justify-content: center;
}

.logo { font-size: 14px; }
.logo-div .upper { font-size: 9px; }
.hamburger { display: none; }
.logo-div span:nth-of-type(2) { width: 75%; }

.logo-div .capital { 
  font-size: 11px;
  text-align: center;
}

.nav-list,
.search { display: block; }

.nav-list li { 
  padding: 5px;
  position: relative;
 }

nav ul li a{ 
  text-transform: uppercase;
  color: #9B9B9B;
  font-size: 14px;
 }

nav ul li::after {
  padding-left: 10px;
  content: '\2f';
  font-family: FontAwesome;
}

nav ul li:last-child::after { display: none; }

.search {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
}

.search::before {
  content: '\f002';
  float: left;
  font-family: FontAwesome;
  font-size: 20px;
  text-indent: 0;
}

.blue-card1 { padding: 20px 0; }
.blue-card2 { padding: 60px 7%; }
.world-section .wrapper { display: flex; }

.world-content { 
  padding: 40px 0 0;
  margin-bottom: 0;
  flex-basis: 50%;
 }

 h3 { margin-bottom: 25px; }

.world-info-div {
  flex-wrap: nowrap;
  gap: 0;
}

.world-section img { flex-basis:  50%; }

.world-content > p:nth-of-type(1) { margin: 0 auto 50px; }
.world-btn-div { margin-bottom: 58px; }
.featured-articles { display: flex; }
.timeline-section { flex-basis: 35%; }  

.saving-card {
  height: 20%;
  padding: 30px 5%;
  box-sizing: border-box;
  flex-basis: 50%;
}

.saving-btn-div p { width: 50%; }

.see-list { 
  width: 100%;
  gap: 5px;
  flex-direction: row;
}

.see-list li {  flex-basis: 30%; }
.see-list li div { width: 65%; }
.email-div::after { right: -68px; }
.subscribe .wrapper { width: 50%; }

}

/*media query for 1024px starts here*/
@media only screen and (min-width: 995px) {
.blue-card1 { padding: 35px 0; }
.blue-card2 { padding: 9% 10%; }

nav ul li a { font-size: 10px; }
.logo { font-size: 11px; }

.blue-card1::after {
  content: '';
  position: absolute;
  width: 20%;
  height: 36%;
  border: 7px solid #5F6056;
  transform: rotate(51deg);
  background-color: #fff;
  top: 51%;
  left: 7%;
  z-index: -2;
}

.blue-card2::before {
  content: '';
    position: absolute;
    width: 20%;
    height: 36%;
    border: 7px solid #5F6056;
    transform: rotate(62deg);
    background-color: #fff;
    top: -6%;
    left: 42%;
    z-index: -2;
}

header .wrapper { margin-bottom: 5%; }
.world-section .wrapper { width: 100%; }

.world-btn-div {
  justify-content: center;
  gap: 5px;
}

.read-btn, .book-btn, .contact-btn {
  padding: 12px 5%;
  font-size: 10px;
} 

.blue-card1 h2 { 
  font-size: 38px;
  font-weight: 800; 
}

.world-content { padding: 60px 0 0; }
h3 { margin-bottom: 30px; }
.timeline-section li:nth-of-type(1)::after { height: 50px; }

.saving-btn-div { 
  display: flex;
  justify-content: space-around;
}

.saving-btn-div p { 
  padding: 6px 5% 3px 10%;
  font-size: 11px;
  flex-basis: 40%;
 }

.saving-btn-div a {
  flex-basis: 20%;
  padding: 10px 6%;
  align-self: baseline;
  font-size: 10px;
}

.saving-btn-div p::before { padding: 7px 5% 3px 4%; }
.email-div::after { right: -40px; }

footer .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .wrapper p { 
  flex-basis: 50%;
  text-align: initial;
 }

.footer-icon { 
  display: flex;
  flex-basis: 50%;
}

.footer-icon ul {
  margin: 0;
  display: flex;
  justify-content: end;
  gap: 12px;
  align-items: center;
}

footer p { margin-bottom: 0; }
.see-list li { padding: 15% 10px 20px 10px; }
}